
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h3>Log in</h2>
  <div class="inputs">
    <%= f.input :email, required: false, autofocus: true %>
  </div>
  <div class="inputs">
    <%= f.input :password, required: false %>
  </div>
  <div class="inputs">
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
