<% in_group_of ||= 3 %>

<div class="table-filter">
  <%= search_form_for q, html: { class: 'form' } do |f| %>
    <h3><%= t('table.filter') %></h3>

    <% filters.in_groups_of(in_group_of, false).each do |inputs| %>
      <div class="inputs">
        <% inputs.each do |input| %>
          <div class="label">
            <%= f.label        "#{input}_cont" %>
            <%= f.search_field "#{input}_cont" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.submit class: 'btn' %>
  <% end %>
</div>
