<%= simple_form_for(form.form_url, form.form_config) do |f| %>
  <h3><%= form.title %></h3>
  <%= render 'widgets/form/error_explanation', resource: form.resource %>

  <%= render "widgets/form/content", f: f, attributes: form.attributes, in_group_of: form.in_group_of %>

  <%= f.button :submit %>
<% end %>
